<div class="col-md-3">
  <%= image_tag((@user.avatar), :class => 'avatar') %>
  <strong><h1 class="fullname"><%= "#{@user.first_name} #{@user.last_name}" %></h1></strong>
  <h2 class="username"><%= "@#{@user.username}" %></h2>

</div>

<div class="col-md-9">
  <h2>Recent Activities</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Activity</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user.scripts.reverse.each do |script| %>
        <tr>
          <td>Posted a script in <%= link_to script.game_thread.thread_name, script.game_thread %></td>
          <td><%= "#{distance_of_time_in_words_to_now(script.created_at)} ago" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>