<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Game Rooms Available</div>
  <div class="panel-body">
    <p>Join a room and play <now!></now!></p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Thread name</th>
        <th>Genre</th>
        <th>Created at</th>
        <th>No. Scripts</th>
        <th>Join Room</th>
      </tr>
    </thead>

    <tbody>
      <% @game_threads.each do |game_thread| %>
        <tr>
          <td><%= link_to game_thread.thread_name, game_thread %></td>
          <td><%= game_thread.genre %></td>
          <td><%= game_thread.created_at.strftime "%I:%M%P - %d %b %Y" %></td>
          <td><%= game_thread.scripts.count %></td>
          <td><%= link_to "Join Now", game_thread, {class: 'btn btn-success'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% url = user_signed_in? ? new_game_thread_path : new_user_session_path %>
<%= link_to 'Create New Game', url, {class: "btn btn-primary"} %>
