<p id="notice"><%= notice %></p>
<header>
  <h1><strong><%= @game_thread.thread_name %></strong></h1>
  <h2><%= @game_thread.genre %></h2>
</header>

<% @scripts.each do |script| %>
  <div class="script">
    <p><%= script.content %></p>
    <span><%= link_to 'Edit', edit_script_path %></span>
    <span class="time-stamp pull-right"><%= script.created_at %></span>
  </div>
<% end %>

<div class="add-script">
  <%= form_for(@script) do |f| %>
    <div class="field">
      <%= f.label :content, "Add New Script:" %><br>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.hidden_field :game_thread_id, {:value => @game_thread.id} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>


<%= link_to 'Back to lobby', game_threads_path, {"class" => "btn btn-primary"} %>

