<p id="notice"><%= notice %></p>
<header>
  <h1><strong><%= @game_thread.thread_name %></strong></h1>
  <h2><%= @game_thread.genre %></h2>
</header>


<div class="conatainer writer-summary col-sm-3">
  <div class="section-header">
    <h3 class="section-header">Writers</h3>
  </div>

  <% @game_thread.users.each do |user| %>
    <div class="writer-container">
      <%= image_tag((user.avatar), :class => "avatar-thumbnail") %>
      <span class="fullname"><strong><%= link_to "#{user.first_name} #{user.last_name}", "/users/#{user.id}" %></strong></span>
      <% if user_signed_in? && current_user.id == user.id %>
        <%= form_for(@game_thread, :url => {controller: 'game_threads', action: 'remove_writer', game_thread_id: @game_thread.id}, :html => {:class => "leave-room-btn"}) do |f| %>
          <div class="actions">
            <%= f.submit "Leave", :class => "btn btn-warning" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% (8 - @game_thread.users.count).times do %>
    <div class="writer-container">
      <%= form_for(@game_thread, :url => {controller: 'game_threads', action: 'add_writer', game_thread_id: @game_thread.id}) do |f| %>
        <div class="actions join-room-btn-container">
          <%= f.submit "Join as writer", :class => "btn btn-success join-room-btn" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>


<div class="container scripts-container col-sm-6">
  <div class="section-header">
    <h3>Scripts</h3>
  </div>
  <% @scripts.each do |script| %>
    <div class="row script-container">
      <div class="col-sm-1 avatar-container">
        <%= image_tag((script.user.avatar), :class => "avatar-thumbnail") %>
      </div>
      <div class="script col-md-10">
        <span class="fullname"><strong><%= link_to "#{script.user.first_name} #{script.user.last_name}", "/users/#{script.user.id}" %></strong></span>
        <span class="username"><%= "@#{script.user.username} - " %></span>
        <span class="time-stamp"><%= distance_of_time_in_words_to_now(script.created_at) %></span>
        <% if user_signed_in? && current_user.id == script.user_id %>
          <span class="edit"><%= link_to 'Edit', url_for({controller:'scripts', action: 'edit', id:script.id}) %></span>
        <% end %>
        <p class="content"><%= script.content %></p>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="add-script">
      <%= form_for(@script) do |f| %>
        <div class="field">
          <%= f.label :content, "Add New Script:" %><br>
          <%= f.text_area :content, {:class => "form-control", :rows => "8"} %>
        </div>
        <div class="field">
          <%= f.hidden_field :game_thread_id, {:value => @game_thread.id} %>
        </div>
        <div class="field">
          <%= f.hidden_field :user_id, {:value => current_user.id} %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Sign in to post scripts!</p>
  <% end %>

  <%= link_to 'Back to lobby', game_threads_path, {"class" => "btn btn-primary"} %>
</div>

<div class="conatainer writer-summary col-sm-3">
  <div class="section-header">
    <h3 class="section-header">Current Writers</h3>
  </div>
</div>
