<p id="notice"><%= notice %></p>
<header>
  <h1><strong><%= @game_thread.thread_name %></strong></h1>
  <h2><%= @game_thread.genre %></h2>
</header>



<div class="round-container">

  <%= form_for(@game_thread, :url => {controller: 'game_threads', action: 'switch_phase', game_thread_id: @game_thread.id}) do |f| %>
    <div class="actions">
      <%= f.submit "Switch Phase", :class => "btn btn-default switch-phase-btn" %>
    </div>
  <% end %>

  <%= form_for(@game_thread, :url => {controller: 'game_threads', action: 'move_to_next_round', game_thread_id: @game_thread.id}) do |f| %>
    <div class="actions">
      <%= f.submit "Next Round", :class => "btn btn-default next-round-btn" %>
      <h2 class="round-number">Round <%= @game_thread.round %>: <%= @game_thread.phase %> phase</h2>
    </div>
    <div class="row">
      <% if @game_thread.phase == "waiting" %>
        <div class="waiting-message-container col-md-4 col-md-offset-4">
          <h3>Waiting for <%= @game_thread.min_writer - @game_thread.users.count %> more writers</h3>
        </div>
      <% else %>
        <div class="col-md-4 col-md-offset-4 timer" data-end-time="<%= @round_end_time %>" data-phase="<%= @game_thread.phase %>">
          <span class="col-md-4" id="countdown-time-min"></span>
          <span class="col-md-4" id="countdown-time-sec"></span>
          <span class="col-md-4" id="countdown-time-milli"></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="conatainer writer-summary col-sm-3">
  <div class="section-header">
    <h3 class="section-header">Writers<span class="writer-counter">Slots: <%=@game_thread.max_writer - @game_thread.users.count %>/<%= @game_thread.max_writer %></span></h3>
  </div>

  <% @game_thread.users.each do |user| %>
    <div class="writer-container">
      <%= image_tag((user.avatar), :class => "avatar-thumbnail") %>
      <span class="fullname"><strong><%= link_to "#{user.first_name} #{user.last_name}", "/users/#{user.id}" %></strong></span>
      <% if user_signed_in? && current_user.id == user.id %>
        <%= form_for(@game_thread, :url => {controller: 'game_threads', action: 'remove_writer', game_thread_id: @game_thread.id}, :html => {:class => "leave-room-btn"}) do |f| %>
          <div class="actions">
            <%= f.submit "Leave", :class => "btn btn-warning" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% (@game_thread.max_writer - @game_thread.users.count).times do %>
    <div class="writer-container">
      <%= form_for(@game_thread, :url => {controller: 'game_threads', action: 'add_writer', game_thread_id: @game_thread.id}) do |f| %>
        <div class="actions join-room-btn-container">
          <% if user_signed_in? %>
            <%= f.submit "Join as writer", :class => "btn btn-success join-room-btn" %>
          <% else %>
            <%= link_to "Join as writer", new_user_session_path, {class: "btn btn-success join-room-btn"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>


<div class="container scripts-container col-sm-6">
  <div class="section-header">
    <h3>Scripts</h3>
  </div>

  <div class="script-pane" data-game-thread-id="<%= @game_thread.id %>">

  </div>

  <% if user_signed_in? && @game_thread.users.include?(current_user) %>
    <% if @game_thread.phase == "writing" %>
      <div class="add-script">
        <%= form_for(@script) do |f| %>
          <div class="field">
            <%= f.label :content, "Add New Script:" %><br>
            <%= f.text_area :content, {:class => "form-control", :rows => "8"} %>
          </div>
          <div class="field">
            <%= f.hidden_field :game_thread_id, {:value => @game_thread.id} %>
          </div>
          <div class="field">
            <%= f.hidden_field :user_id, {:value => current_user.id} %>
          </div>
          <div class="field">
            <%= f.hidden_field :round, {:value => @game_thread.round} %>
          </div>
          <div class="actions">
            <%= f.submit "Submit", :class => "btn btn-success btn-block" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

<%= link_to 'Back to lobby', game_threads_path, {"class" => "btn btn-primary btn-block bottom-btn"} %>
</div>

<div class="conatainer writer-summary col-sm-3">
  <div class="section-header">
    <h3 class="section-header">Story Line</h3>
  </div>

  <% @top_voted_scripts.each do |script| %>
    <% next if script == nil %>
    <div class="script-container">
      <strong><p>Round <%= script.round %>:</p></strong>
      <p><%= script.content %></p>
    </div>
  <% end %>


</div>
