<!DOCTYPE html>
<html>
<head>
  <title>NovelScramble</title>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <%= link_to 'Novel Scramble', '/', class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar, :class => 'navbar-avatar-thumbnail' %>
            Logged in as <strong><%= current_user.first_name %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>

        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container">

<%= yield %>

    </div>
  </main>

  <footer class="footer">
    <p>Novel Scramble, Inc &middot; &copy;<%= Time.now.strftime "%Y" %></p>
  </footer>

  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application' %>
  <script>window['<%= params[:controller] + '_' + params[:action] %>_js'] && <%= params[:controller] + '_' + params[:action] %>_js();</script>

</body>
</html>
